input {
    keyboard {
        xkb {
            layout "de"
        }
        numlock
    }

    mouse {
        accel-speed 0.3
        accel-profile "flat"
    }

    focus-follows-mouse max-scroll-amount="95%"
}
